#specific folders
Build/Intermediate
/tmp/
#generic folders
*/[Ii]ntermediate/*
*/[Ii]ntermediate
*/.vs/
*.tlog
*/[Dd]ebug/
*.sdf
*.iobj
*.ipdb
*.pdb
*.opensdf
*.inl
*.suo
#un-needed build and Visual Studio files
*.[A]pp
*.user
*.aps
*.pch
*.ods#
*.vsp
*.psess
*.ctl
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.VC.db
*.tlog
*.lib
*.sbr
*.sdf
*.ipch
*.opensdf
*.exp
*.unsuccessfulbuild
*.lastbuildstate
*.idb
*.a
*.opendb
*.log